---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Senior Data and Machine Learning Engineer with extensive experience in driving data-driven solutions, developing AI and Data Engineering systems, and streamlining deployment processes. Demonstrated expertise in executing end-to-end deep learning projects, optimizing data pipelines, and mentoring teams to enhance solution quality.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelors of Technology (IT)"
      subtitle="August 2015 to May 2019 at Guru Gobind Singh Indraprastha University, Delhi, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="AI Consultant at Hennes & Mauritz Retail Pvt. Ltd."
      subtitle="Dec 2022 - Present at Tata Consultancy Services, Stockholm, Sweden"
    >
      Collaborated with business stakeholders to understand their challenges, define solution requirements, and identify relevant data sources. Worked with cross-functional teams to gather necessary data for model development.
      Contributed to the entire machine learning lifecycle, including data collection, exploratory data analysis, feature engineering, feature selection, model development, optimization, and deployment, ensuring real-world applicability.
      Managed the end-to-end ML project lifecycle, from dataset preparation to CI/CD implementation, as part of an Agile team.
      Developed and deployed custom Cloud Functions for API data ingestion and decryption of encrypted files into BigQuery.
      Automated data orchestration and storage using Cloud Schedulers, Cloud Workflows, and Google Cloud Storage (GCS).
      Partnered with Data Analysts to enable GCP access and facilitate Power BI reporting integration.
      Managed diverse data ingestion workflows, including API, Google Analytics, GCS, and Azure Blob data integration into BigQuery.
    </TimeLineElement>
    
    <TimeLineElement
      title="Senior Machine Learning Engineer at Johnson & Johnson Inc."
      subtitle="Aug 2021 - Nov 2022 at Tata Consultancy Services, Delhi, India"
    >
      Trained an image segmentation model on a custom-annotated dataset for precise detection of surgical equipment welds.
      Applied advanced post-processing techniques to segmentation masks to improve weld detection accuracy and integrated mathematical logic to identify different weld defects.
      Deployed models for robust production performance, achieving a 98% reduction in inspection time.
    </TimeLineElement>

    <TimeLineElement
      title="Machine Learning Engineer at Government Education Department"
      subtitle="July 2019 - July 2021 at Tata Consultancy Services, Delhi, India"
    >
      Developed and optimized computer vision models in areas such as image classification, object detection, image segmentation, and facial authentication, leveraging models like EfficientNet, Detectron2, and Yolact++.
      Contributed to all stages of the machine learning project lifecycle, from dataset preparation and model training to improving accuracy and deploying models on GCP. This experience ensures successful production deployment and performance optimization.
      Customized models for client-specific requirements by retraining them on custom-annotated datasets.
      Applied optimization techniques such as quantization to address computational constraints and cythonization to minimize inference times.
      Achieved a 95% model performance rate in production, processing 400,000 images daily within 3 hours.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Associate Cloud Engineer - Google Cloud</a>
    </li>
    <li>
      <a href="#" target="_blank"> Professional Data Engineer - Google Cloud</a>
    </li>
    <li>
      <a href="#" target="_blank"> Deep Learning Specialization - DeepLearning.AI</a>
    </li>
    <li>
      <a href="#" target="_blank"> Generative AI with Large Language Models - DeepLearning.AI</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Machine Learning & AI</li>
    <li>Statistics, Exploratory Data Analysis (EDA)</li>
    <li>Numpy, Pandas, Scikit-learn, Matplotlib</li>
    <li>Seaborn, Machine Learning, Deep Learning</li>
    <li>TensorFlow, PyTorch, Jupyter Notebooks</li>
    <li>OpenCV, Computer Vision, Object Detection</li>
    <li>Image Segmentation, GenerativeAI</li>
    <li>Transformers, LLamaIndex, LangChain, CNN</li>
    <li>Prompt Engineering</li>
    <li>DevOps, MLOps & CI/CD</li>
    <li>Git, GitHub, GitHub Actions, GitHub Workflows</li>
    <li>Terraform, GCP Cloud Functions, GCP Cloud Run</li>
    <li>GCP Cloud Scheduler, GCP Cloud Workflows, GCP Vertex AI</li>
    <li>SQL, BigQuery, dbt (data build tool)</li>
    <li>Google Cloud Platform (GCP), Google Cloud Storage (GCS), Pub/Sub</li>
    <li>Python, FastAPI, Flask, Docker, Kubernetes</li>
    <li>RESTful APIs, Nginx, Gunicorn, Load Balancers</li>
    <li>Compute Engine, Linux, Git, Agile, Scrum, CI/CD</li>
    <li>Communication, Collaboration, Problem-Solving</li>
    <li>Critical Thinking, Adaptability, Time Management, Result-Oriented</li>
  </ul>
</BaseLayout>
