---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Senior Data and Machine Learning Engineer with extensive experience in driving data-driven solutions, developing AI and Data Engineering systems, and streamlining deployment processes. Demonstrated expertise in executing end-to-end deep learning projects, optimizing data pipelines, and mentoring teams to enhance solution quality.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelors of Technology (IT)"
      subtitle="August 2015 to May 2019 at Guru Gobind Singh Indraprastha University, Delhi, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Consultant at Hennes & Mauritz Retail Pvt. Ltd."
      subtitle="Dec 2022 - Present at Tata Consultancy Services, Stockholm, Sweden"
    >
      <ul class="list-disc ml-6">
        <li>Designed and deployed custom Cloud Functions to automate API data ingestion and decrypt encrypted files into BigQuery.</li>
        <li>Automated data orchestration and storage using Cloud Schedulers, Cloud Workflows, and Google Cloud Storage (GCS).</li>
        <li>Streamlined diverse data ingestion workflows, integrating data from APIs, Google Analytics, GCS, and Azure Blob into BigQuery.</li>
      </ul>
    </TimeLineElement>
    
    <TimeLineElement
      title="Senior Machine Learning Engineer at Johnson & Johnson Inc."
      subtitle="Aug 2021 - Nov 2022 at Tata Consultancy Services, Delhi, India"
    >
      <ul class="list-disc ml-6">
        <li>Trained an image segmentation model on a custom-annotated dataset for precise detection of surgical equipment welds.</li>
        <li>Applied advanced post-processing techniques to segmentation masks to improve weld detection accuracy.</li>
        <li>Integrated mathematical logic to identify different weld defects and enhance detection capabilities.</li>
        <li>Deployed models for robust production performance, achieving a 98% reduction in inspection time.</li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Machine Learning Engineer at Government Education Department"
      subtitle="July 2019 - July 2021 at Tata Consultancy Services, Delhi, India"
    >
      <ul class="list-disc ml-6">
        <li>Developed and optimized computer vision models for image classification, object detection, image segmentation, and facial authentication.</li>
        <li>Leveraged models such as EfficientNet, Detectron2, and Yolact++ for improved model accuracy and performance.</li>
        <li>Contributed to all stages of the machine learning project lifecycle, including dataset preparation, model training, and deployment on GCP.</li>
        <li>Customized models by retraining them on client-specific custom-annotated datasets.</li>
        <li>Applied optimization techniques like quantization and cythonization to address computational constraints and reduce inference times.</li>
        <li>Achieved a 95% model performance rate, processing 400,000 images daily within 3 hours.</li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Associate Cloud Engineer - Google Cloud</a>
    </li>
    <li>
      <a href="#" target="_blank"> Professional Data Engineer - Google Cloud</a>
    </li>
    <li>
      <a href="#" target="_blank"> Deep Learning Specialization - DeepLearning.AI</a>
    </li>
    <li>
      <a href="#" target="_blank"> Generative AI with Large Language Models - DeepLearning.AI</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Machine Learning</li>
    <li>Deep Learning</li>
    <li>Computer Vision</li>
    <li>Generative AI</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
    <li>OpenCV</li>
    <li>Transformers</li>
    <li>LLamaIndex</li>
    <li>LangChain</li>
    <li>Python</li>
    <li>FastAPI</li>
    <li>Flask</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>CI/CD</li>
    <li>Terraform</li>
    <li>SQL</li>
    <li>BigQuery</li>
    <li>Google Cloud Platform (GCP)</li>
    <li>Google Cloud Storage (GCS)</li>
    <li>Cloud Functions</li>
    <li>Cloud Run</li>
    <li>Cloud Scheduler</li>
    <li>Cloud Workflows</li>
    <li>Agile & Scrum</li>
    <li>Communication</li>
    <li>Problem Solving</li>
    <li>Time Management</li>
  </ul>
</BaseLayout>
